
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=DM+Serif+Display&family=Indie+Flower&family=Roboto:wght@300&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --primary-color:#ffc222;
    --secondary-color:#00a149;
    --text-color:#b0b0b0;
    --white-color:#fff;
    --black-color:#1e1d23;
    --primary-font:'roboto , sans serif';
    --secondary-font:'quicksand, sans serif';
  }
  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body{
    font-family: var(--primary-font);
    font-size: 1005;
    font-weight: 400;
  }
  .navigation{
    position: fixed;
    width: 100%;
    left: 0;
    transition: all ease-in-out;
  }
  .navigation .nav-item{
    margin-right: 2rem;
    transition: all 0.23s linear;
  }
  .navigation .nav-item :hover{
        color: var(--primary-color);
  }
  .nav-link{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color:var(--white-color);
    letter-spacing: 1px;
  }
  .top-banner{
    width: 100%;
    background: url('../images/bg/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:16.875rem 0 9.375rem;
  }
  .top-banner p{
    color: var(--white-color);
  }
  


  .our-menu .link-category-product{
    position: relative;
    z-index: 1;
    display: block;
  }
  .about{
    background-color: var(--black-color);
  }
  img{
    border-radius: 20px;
  }

  .food-type ul li{
    font-size: 1rem;
    color: var(--text-color);
     line-height: 32px;
     position: relative;
     /* margin-left: 30px; */
  }
 .explorefood .card{
    border: none;
    background-color: transparent;
    border-radius: 0.9375rem;
 }
  .explorefood .card img{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  .footer{
    background-color:var(--black-color);
  }
  .footer .footer-social-icon{
    font-size: 1rem;
    color: var(--black-color);
    padding: 0 1.875rem;
  }
  .footer .footer-social-icon:hover{
    color: var(--white-color);
  }
  .footer .footer-social-icon a i{
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 1rem;
  }
  .footer .footer-social-icon a:hover i{
    color: var(--primary-color);
  }
  .newsletter  input{
    width: 70%;
  }
  .newsletter .form-control{
    height: 3.225rem;
    width: 100%;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    border-radius: 0;
    outline: 0;
    /* color:var(--white-color); */
    font-weight: 700;
    border: 0.1875rem solid var(--primary-color);
    margin-right: 2rem;
  }
  .newsletter .main{
    margin-right: 5rem;
    padding: 0.6rem 2rem;
  }
  .footer-copy .copy-write{
    text-align: center;
    color: var(--white-color);
    margin-top: 5rem;
    letter-spacing: 2px;
    line-height: 21px;

  }
